*,
*::after,
*::before{
    margin:0;
    box-sizing: border-box;
    color: var(--cl-white);
}
:root{
    --cl-dark: #252425;
    --cl-grey: rgb(52,58,64);
    --cl-primary: #D52036;
    --cl-white: #DBE8ED;
    --fs-1: 1rem;
    --fs-2: 2rem;
    --fs-3: 3rem;
    --fs-4: 4rem;
    --fs-5: 5rem;
    --fs-6: 6rem;
}

@media (max-width:735px) {
    :root{
        --fs-1: 0.5rem;
        --fs-2: 1.25rem;
        --fs-3: 1.5rem;
        --fs-4: 2rem;
        --fs-5: 2.5rem;
        --fs-6: 3rem;
    }
    .square{
        height: 3.75rem !important;
        top: 26.5%;
    }
    .name,
    .subtitle {
        transform: translateY(87.5px) translateX(64px) !important;
    }  
    .avatar{
        height: 150px !important;
        width: 150px !important;
    } 
}
@media (max-width:420px) {
    .square{
        transform: translateY(50px);
    }
    .name,
    .subtitle {
        transform: translateY(100px) translateX(64px) !important;
    }  
}
.name,
.subtitle {
    max-width: 70%;
}

.skills {
    font-weight: 700;
}

nav *{
    color: var(--cl-white) !important;
}

.home {
    margin-top: 56px;
}

.home > .fp-tableCell{
    display: block;
}
ul.navbar-nav{
    width: 100%;
}

li.nav-item.active,
a.navbar-brand:hover,
li.nav-item:hover{
    color: white;
    text-decoration: underline;
} 


body {
    background: var(--cl-dark);
}

h1 {
    font-size: var(--fs-4);
}
h3 {
    font-size: var(--fs-2);
}
.avatar{
    width: 275px;
    height: 275px;
    border-radius: 50%;
    border: 2px solid var(--cl-white);
}

.subtitle{
    width: 80%;
    opacity: 0%;
}

.square{
    z-index: -1;
    background: var(--cl-primary);
    width: 0px;
    height: 7rem;
    position: absolute;
}

.wrapper{
    margin: 1em;
}
.wrapper{
    display: grid !important;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 70% 30%;
    grid-gap: 1em;
}
.wrapper > div {
    background: var(--cl-primary);
    padding: 1em;
}
.wrapper > div:nth-child(odd) {
    background: var(--cl-white);
    color: var(--cl-primary);
}


.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 50%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li.timeline-inverted + li:not(.timeline-inverted),
.timeline > li:not(.timeline-inverted) + li.timeline-inverted {
margin-top: -60px;
}

.timeline > li:not(.timeline-inverted) {
padding-right:90px;
}

.timeline > li.timeline-inverted {
padding-left:90px;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.babes {
    background: #004174 !important;
}
.timeline-badge.continental {
    background: #FF9A00 !important;
}
.timeline-badge.msg {
    background: #A01441 !important;
}

.timeline-badge.melotel {
    background: #F39C11 !important;
}


.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

.previous-works-wrapper {
  margin: 5em;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 2em;
}

@media (max-width: 992px) {
  .previous-works-wrapper{
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    margin: 3.125em;
  }
}
.img-fluid{
  border-radius: 5px;
  /* min-width: 584px; */
}
.p-w-description{
  padding:  0 2em 0 ;
  display: grid;
  grid-template-rows: 1fr 1fr 4fr ;
}
.p-w-description > h5{
  padding-left: 3px;
}

ul.timeline{
  margin: 0 2em 0;
}

@media (max-width: 440px) {
  ul.timeline {
    margin: 0;
  }
}

.section.contact {
  background-image: url('../img/contact3.jpg');

}
.contact-wrapper {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-gap: 1em;
}

.contact-title {
  /* border: 2px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-6);
  font-weight: 700;
}

.contact-info-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.info-item {
  text-align: center;
  /* border: 1px solid white; */
  color: white;
  margin: 5px;
  padding: 25px;
  font-size: var(--fs-2);
}
.info-item > a{
  color: white !important;
}