:root{
    --cl-dark: #252425;
    --cl-grey: rgb(52,58,64);
    --cl-primary: #D52036;
    --cl-white: #DBE8ED;
    --fs-1: 1rem;
    --fs-2: 2rem;
    --fs-3: 3rem;
    --fs-4: 4rem;
    --fs-5: 5rem;
}

@media (max-width:735px) {
    :root{
        --fs-1: 0.5rem;
        --fs-2: 1rem;
        --fs-3: 1.5rem;
        --fs-4: 2rem;
        --fs-5: 2.5rem;
    }
    .square{
        height: 4.75rem !important;
        top: 26.5%;
    }
    .name,
    .subtitle {
        transform: translateY(87px) translateX(64px) !important;
    }  
    .avatar{
        height: 150px !important;
        width: 150px !important;
    } 
}

.skill{
    cursor: pointer;
    min-width: 50px;
    opacity: 0%;
    display: inline-block;
    padding: 3px;
    background: var(--cl-grey);
    color: var(--cl-white);
    box-shadow: 0 0 5px black;
    text-align: center;
    border-radius: 15px;
}
.skill:hover{
    -ms-transform: scale(1.25,1.25); 
    transform: scale(1.25,1.25);
    color: white;
}

nav *{
    color: var(--cl-white) !important;
}

section.home{
    margin-top: 5em;
}

ul.navbar-nav{
    width: 100%;
}

li.nav-item.active,
a.navbar-brand:hover,
li.nav-item:hover{
    color: white;
    text-decoration: underline;
} 
*,
*::after,
*::before{
    margin:0;
    box-sizing: border-box;
    color: var(--cl-white);
}

body {
    background: var(--cl-dark);
}

h1 {
    font-size: var(--fs-4);
}
h3 {
    font-size: var(--fs-2);
}
.avatar{
    right: 10%;
    top: 50%;
    width: 275px;
    height: 275px;
    border-radius: 50%;

}

.subtitle{
    width: 80%;
    opacity: 0%;
}

.square{
    z-index: -1;
    background: var(--cl-primary);
    width: 0px;
    height: 7rem;
    position: absolute;
}

.spacer-1{
    height: 10rem;
}
